nav ul li,
a,
.texto {
    color: white;
    text-decoration: none;
    list-style: none;
}
.primeranavegacion{
    position: sticky;
    top: 0;
    z-index: 1000;
}
.btn{
    background-color: red !important;
    width: 20%;
    height: 50px;
    color: white;
}
.dropdown-menu{
    background-color:red;
    color: white;
}
.dropdown-item:hover {
    transition: all 1s;
    transform: scale(1);
    width: 20px;
}
.navbar {
    padding: 1px;
    margin: 0;
}
a:visited{
    color: white;
}